.main-container{
  .page-header{
    text-transform: uppercase;
    font-size: 26px;
  }
  .cats_page{
    h2{
      font-size: 22px;
      margin-bottom: 20px;
    }
    .doktor-form{
      max-width: 520px;
      .form-type-textfield{
        .control-label{
          font-size: 14px;
        }
        input{
          border-radius: 0;
          padding: 3px;
          font-size: 20px;
          margin: 15px 0;
        }
      }
      .button{
        background-color: #67bfdc;
        border-color: #67bfdc;
      }
      .button:hover{
        background-color: #5cb0c9;
      }
    }
  }
}

