.main-container{
  .page-header{
    text-transform: uppercase;
    font-size: 26px;
  }
  .cats_page{
    h2{
      font-size: 22px;
      margin-bottom: 20px;
    }
    .doktor-form{
      max-width: 520px;
      background-color: #e7e7e7;
      padding: 10px;
      border-radius: 15px;
      .form-item{
        .control-label{
          font-size: 14px;
        }
        input{
          border-radius: 0;
          padding: 3px;
          font-size: 20px;
          margin: 15px 0;
          max-width: 400px;
        }
        .input-group-addon{
         display: none;
        }
      }
      .messages__wrapper{
        max-width: 400px;
      }
      .form-type-managed-file{
        max-width: 400px;
        .form-managed-file{
          display: flex;
          flex-direction: column;
          .file--image{
            text-align: start;
          }
          .btn-danger{
            margin: 10px 0 10px 10px;
            width: 90px;
            align-self: end;
            display: flex;
          }
        }

      }
      .valid-message{
        float: right;
        margin-top: -32px;
        font-size: 14px
      }
      .email-valid-message{
        margin-top: -44px;
      }
      .btn-success{
        background-color: #67bfdc;
        border-color: #67bfdc;
      }
      .btn-success:hover{
        background-color: #5cb0c9;
      }
    }

    .cats_table{
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin: 30px 0;
      .cat-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #e7e7e7;
        border-radius: 15px;
        min-width: 180px;
        min-height: 310px;
        .cat-name{
            text-transform: uppercase;
            font-size: 22px;

        }
        .cat-email{
          font-size: 14px;
        }
        .cat-image{
          max-width: 145px;
          height: 145px;
        }
        .cat-created-date{
          margin-bottom: 15px;
        }
        .cat-btn{
          width: 100%;
          .edit-cat{
            float: left;
            margin-left: 15px;
          }
          .delete-cat{
            float: right;
            margin-right: 15px;
          }
          .edit-cat,.delete-cat{
            a{
              color: #000;
            }
          }
        }
      }
    }
  }
}

